* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  
}

body {
  width: 84rem;
  margin: 4rem;
  background-color: rgb(34, 33, 33);
}


.containers {
  max-width: 140rem;
  padding: 1rem 2.4rem;
  margin: 1rem 4rem;
  border: solid 1px brown;
  display: flex;
  color: beige;
}

p {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.1;
  font-weight: bold;
  margin: 1.2rem 0;
}



.btn {
  background-color: transparent;
  color: beige;
  margin-right: 2rem;
  /* margin-top: 2rem 2.2rem; */
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0.8rem;
  border: solid 0.1rem red;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: border-color 0.3s;
}

button:hover {
  /* box-shadow: inset 0 0 0 0.2rem var(--bg-color); */
  border: solid 0.1rem blueviolet;
  
}

a:hover,
a.active {
  color:blue;
}

.section-hero {
  align-items: center;
  border: solid 1px green;
}

.hero-content {
  /* margin: 2.4rem 0 4.8rem 0; */
  align-items: center;
}

.section2{
  padding: 3.7rem;
  border: solid 1px rgb(28, 0, 128);
}
.container2{
  display: flex;
  background-color: aliceblue;
  border-radius: 1rem;
  padding: 2rem;
}

.div1{
  background-color: rgb(233, 236, 238);
  /* border: solid 0.1rem gold; */
  border-left: 0.1rem solid gold;
  color: rgb(19, 19, 18);
  width: 100rem;
  padding: 1rem;
  text-align: center;
}

h2{
  font-size: 2.8rem;
}

p{
  text-transform: capitalize;
}

.section3 {
  display: flex;
}
.part1{
  border: solid 0.2rem chartreuse;
  padding : 2rem;
}

.hero2 {
  border:  solid 0.2rem palegreen;
}

.hero-contant p{
  margin-top: 2.5rem;
}
.section-contact {
  padding: 0;
}
.section-contact h1 {
  margin-bottom: 3.2rem;
}
.container {
  padding-top: 3.2rem;
}
.contact-img {
  display: flex;
  justify-content: start;
  align-items: center;
}
.section-form form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.section-form label {
  display: block;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
}
